@import url('header.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}
main{
  padding: 50px;
}
main .style-form label{
  margin-top: 7px;
}
.style-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.link-button{
  text-decoration: none;
}
.buscador{
  margin: 15px auto;
}
.warning{
  color: #ff0000;
}